<!doctype html>
<html lang="en" ng-app="app" >
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <title></title>
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  
  <script type="text/javascript" src="cordova.js"></script>
  <script src="lib/onsen/js/onsenui.min.js"></script>
  
  <script>
    ons.platform.select('android');
  </script>  

  <script src="lib/onsen/js/angular/angular.js"></script>
  <script src="lib/onsen/js/angular-onsenui.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
  <!-- <script src="js/mouse-scroll-event.js"></script> -->
  <script src="js/ajax-req.js"></script>
  <script src="js/app.js"></script>
  <script src="js/service/AuthFactory.js"></script>
  <script src="js/service/CrudFactory.js"></script>  
  <script src="js/controller/AppController.js"></script>
  <script src="js/controller/UserController.js"></script>
  <script src="js/controller/CrudController.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA-b2qVuUU-WwppwYsZcqCPtgyzDtK8F0&libraries=places"></script>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->

</head>
<body ng-controller="AppController" id="body">
    <ons-modal var="app.modal">
      <ons-icon size="48px" icon="ion-load-d" spin="true"></ons-icon>
    </ons-modal>
    
    <ons-tabbar var="app.tabbar">
      <ons-tab page="home.html" ng-click="kategoriInit()" label="Beranda" icon="ion-home, material:md-home" active></ons-tab>
      <ons-tab page="pesanan.html" ng-click="pesananInit()" label="Pesanan" icon="ion-paper-lane, material:md-comment-text"></ons-tab>
      <ons-tab page="bantuan.html" label="Bantuan" icon="ion-home, material:md-help"></ons-tab>
      <ons-tab page="user.html" ng-click="userInit()" label="Akun" icon="ion-home, material:md-account"></ons-tab>
    </ons-tabbar>
</body>
</html>